.seleccion-butacas {
}
.grid-sala {
    overflow: auto;
}
.block-butacas {
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    width: calc(16*42px);
}
.grid-sala-colunm {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin: 4px;
    font-size: 12px;
    background-color: var(--color-blanco);
    border: 1px solid var(--color-principal);
    display: inline-block;
}
.grid-sala-colunm.active {
    background: linear-gradient(45deg, var(--color-auxiliar), var(--color-principal));
}
#butaca input {
    height: 100%;
    width: 100%;
    opacity: 0;
}

#reservado {
    height: 100%;
    width: 100%;
    visibility: hidden;
}
.pantalla {
    justify-self: center;
    width: 60%;
    height: 20px;
    margin: 16px;
    padding: 8px;
    border: 1px solid var(--color-principal);
}
.span-soles {
	font-size: 1.5rem;
}
.span-soles::before {
	content:'S/ ';
}